{% extends 'base.html' %}
{% block content %}
<section class="form-section">
    <div class="glass-card auth-container">
        <div class="section-title" style="margin-bottom: 20px;">
            <h2>Create Account</h2>
            <p>Join MEDHELP for seamless healthcare.</p>
        </div>
        <form action="{{ url_for('signup') }}" method="POST">
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Email Address</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Password</label>
                <div style="position: relative;">
                    <input id="reg-password-field" type="password" name="password" class="form-control" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
                    <i class="fa fa-eye toggle-password" toggle="#reg-password-field" style="position: absolute; right: 15px; top: 15px; cursor: pointer; color: var(--text-dark);"></i>
                </div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>
            <button type="submit" class="btn" style="width: 100%;">Sign Up</button>
            <p style="text-align: center; margin-top: 20px; font-size: 0.9rem;">
                Already have an account? <a href="{{ url_for('login') }}" style="color: var(--accent-blue); font-weight: 600;">Login</a>
            </p>
        </form>
    </div>
</section>
{% endblock %}